<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="Default"	providerName="System.Data.OleDb"
			connectionString="Persist Security Info=False;User Id=sa;Password=galengalen;Initial Catalog=AMQP_Exchange;Data Source=10.0.57.10" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>